@using MyItems.Models
@model MyItems.Models.ItemModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table style="width: 100%">
            @foreach (var record in ViewBag.Items)
            {
                <tr>
                    <td>@record.Item</td>
                </tr>
            }
        </table> 
    </div>
    <div>
        @using (Html.BeginForm())
        {
            @Html.TextBoxFor(x => x.Item)<br />
            <input type="submit" value="Save" /><br />
        }
    </div>
</body>
</html>
